### Car price prediction

In [3]:
# import neccessary libraries and pakages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Load the dataset
df = pd.read_csv('./dataset/new_scrape.csv')

In [7]:
# take a look of the data
df.head()

,Name,Price,Market price,Location,Thumbnail,Images,Gear,Odometer,Fuel type,Car condition,...,Engine Size,Number of Cylinders,Horse Power,Color,Seats,Registered Car,Exchange Possible,VIN Chassis number,Mileage,VIN number
0,Toyota Tacoma 2014 White,"₦ 8,800,000",₦ 13.48 M ~ 14.5 M,"Lagos, Ajah",https://pictures-nigeria.jijistatic.com/112155...,https://pictures-nigeria.jijistatic.com/112155...,Automatic,NaN,Petrol,Foreign Used,...,2700 cc,4.0,159 hp,White,NaN,NaN,NaN,NaN,NaN,NaN
1,Lexus GX 460 2010 Gray,"₦ 19,500,000",₦ 17.5 M ~ 18.5 M,"Lagos, Magodo",https://pictures-nigeria.jijistatic.com/113346...,https://pictures-nigeria.jijistatic.com/113346...,Automatic,NaN,Petrol,Foreign Used,...,4600 cc,8.0,305 hp,Gray,7,NaN,NaN,NaN,NaN,NaN
2,Acura MDX 2011 Red,"₦ 7,500,000,",₦ 6.5 M ~ 7.1 M,"Lagos, Apapa",https://pictures-nigeria.jijistatic.com/107470...,https://pictures-nigeria.jijistatic.com/107470...,Automatic,75000 km,Petrol,Foreign Used,...,3700 cc,6.0,300 hp,Red,7,No,NaN,NaN,NaN,NaN
3,Hyundai Elantra Limited 2012 Black,"₦ 4,800,000",₦ 4.8 M ~ 5.24 M,"Lagos, Ojo",https://pictures-nigeria.jijistatic.com/912612...,https://pictures-nigeria.jijistatic.com/912612...,Automatic,NaN,Petrol,Foreign Used,...,1800 cc,4.0,150 hp,Black,5,No,NaN,NaN,NaN,NaN
4,Lexus RX 350 AWD 2013 White,"₦ 13,500,000",₦ 13.5 M ~ 13.9 M,"Lagos, Gbagada",https://pictures-nigeria.jijistatic.com/111479...,https://pictures-nigeria.jijistatic.com/111479...,Automatic,70431 km,Petrol,Foreign Used,...,3500 cc,6.0,270 hp,White,5,NaN,NaN,NaN,NaN,NaN

In [9]:
# check data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5122 entries, 0 to 5121
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 5122 non-null   object
 1   Price                5122 non-null   object
 2   Market price         4323 non-null   object
 3   Location             5097 non-null   object
 4   Thumbnail            5122 non-null   object
 5   Images               5122 non-null   object
 6   Gear                 5097 non-null   object
 7   Odometer             2499 non-null   object
 8   Fuel type            2933 non-null   object
 9   Car condition        5097 non-null   object
 10  Other features       1543 non-null   object
 11  Dealer name          5122 non-null   object
 12  Page link            5122 non-null   object
 13  Second Condition     5094 non-null   object
 14  Make                 5097 non-null   object
 15  Model                5097 non-null   object
 16  Year of Manufacture  5097 non-null   float64
 17  Trim                 3270 non-null   object
 18  Body                 3024 non-null   object
 19  Drivetrain           2933 non-null   object
 20  Engine Size          2896 non-null   object
 21  Number of Cylinders  3073 non-null   float64
 22  Horse Power          2762 non-null   object
 23  Color                5097 non-null   object
 24  Seats                2919 non-null   object
 25  Registered Car       4192 non-null   object
 26  Exchange Possible    1333 non-null   object
 27  VIN Chassis number   175 non-null    object
 28  Mileage              4 non-null      object
 29  VIN number           5 non-null      object
dtypes: float64(2), object(28)
memory usage: 1.2+ MB

In [ ]:
def clean_price(price):
    new_price = ''.join(price.split()[1].split(','))
    return float(new_price)

In [17]:
float(''.join('₦ 19,500,000'.split()[1].split(',')))

19500000.0

In [12]:
df['Price'].apply(lambda x: )

0         ₦ 8,800,000
1        ₦ 19,500,000
2        ₦ 7,500,000,
3         ₦ 4,800,000
4        ₦ 13,500,000
            ...
5117      ₦ 4,200,000
5118     ₦ 4,650,000,
5119     ₦ 10,200,000
5120    ₦ 12,850,000,
5121      ₦ 5,990,000
Name: Price, Length: 5122, dtype: object